{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <h2>블로그 포스트 게시판</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'blog:write' %}" class="btn btn-primary">글작성하기</a>
        {% endif %}
        <br>
        {% if searchtag %}
            <p>"{{searchtag}}" 의 검색결과</p>
        {% endif %}
        {% if posts %}
        <table class="table">
            <thead class="table-light">
                <th>글인덱스</th>
                <th>작성자</th>
                <th>제목</th>
                <th>카테고리</th>
                <th>작성일</th>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{post.pk}}</td>
                    <td>{{post.author}}</td>
                    <td><a href="{% url 'blog:detail' post_id=post.id %}" class="">{{post.title}}</a></td>
                    <td>{{post.category.name}}</td>
                    <td>{{post.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        {% else %}
            <div>등록된 게시물이 없습니다.</div>
        {% endif %}
        <p>카테고리검색</p>
        <form action="{% url 'blog:search-query' %}" method="get">
            {%csrf_token%}
            <input type="text" id="kw" name="cat">
            <input type="submit" value="검색">
        </form>
    </main>

{% endblock %}