{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row justify-content-center py-5">
        <div class="col-8 text-center">
            <h1>회원가입</h1>
        </div>
    </div>
    <form action="{% url 'user:register' %}" method="post">
        {% csrf_token %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <div class="row mb-3 justify-content-center">
                <div class="col-3">아이디</div>
                <div class="col-9">{{ form.username }}</div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-3">이메일</div>
                <div class="col-9">{{ form.email }}</div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-3">비밀번호</div>
                <div class="col-9">{{ form.password1 }}</div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-3">비밀번호확인</div>
                <div class="col-9">{{ form.password2 }}</div>
            </div>
            <input type="hidden" name="next" value="{{ togo }}" >
            <input type="submit" value="회원가입" class="btn btn-lg btn-primary btn-block">
        </div>
    </form>
</main>


{% endblock %}